@import '../../colors';

div.container {
  max-width: 100%;
  h1.title {
    padding: 20px 0;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    position: relative;
    width: 195px;
    margin: 0 auto;
    z-index: -1;

    &::before {
      content: '';
      position: absolute;
      bottom: 20px;
      right: 0;
      width: 50px;
      height: 5px;
      background-color: $blue;
      border-radius: 5px;
      z-index: -1;
    }

    &:first-letter {
      color: $blue;
    }
  }

  .products {
    margin: 0 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;

    .product {
      padding: 20px 10px;
      margin: 0 5px;
      max-width: 25%;
      transition: .3s ease all;

      .thumbnail {
        img {
          width: 100%;
        }
      }
      .product_title {
        font-size: 2.2rem;
        color: $blue;
      }

      .price {
        font-size: 1.8rem;
      }

      .actions {
        visibility: hidden;
      }

      .name {
        font-size: 1.3rem;
        color: $dark-gray;
      }

      .actions {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        max-width: 100%;
        margin: 10px 0;

        a {
          width: 50%;
          text-align: center;
          font-size: 1.5rem;
          padding: 5px 0;
          color: white;
          background-color: $dark-gray;
          border-radius: 5px;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: .2s ease all;

          svg {
            font-size: 1.5rem;
            margin: 0 5px;
          }

          &:first-child {
            margin: 0 5px 0 0;
            background-color: $blue;
          }

          &:hover {
            transform: scale(0.9);
          }
        }
      }

      &:hover {
        box-shadow: 0px 0px 0px 1px $lighter-gray;

        .actions {
          visibility: visible;
        }
      }
    }
  }
}