@import '../palette';

.footer {
  width: 90%;
  margin: 60px auto;

  .links {
    display: flex;
    align-items: center;

    ul {
      list-style: none;
      h3 {
        font-size: 2rem;
        font-weight: bold;
        padding: 5px 0;
        color: $green;
      }
      p {
        font-size: 1.8rem;
      }
      li {
        a {
          font-size: 1.7rem;
        }
      }
      .box {
        display: flex;
        margin: 20px 0;
        justify-content: center;
        li {
          padding: 10px;
          border-radius: 100%;
          a {
            svg {
              font-size: 2rem;
              color: $dark-gray;
            }
            color: $green;
          }
        }
      }
    }

    .wrapper {
      width: 100%;
      padding-left: 15vw;
      display: flex;
      justify-content: space-between;

      ul {
        h3 {
          color: $dark-gray;
        }

        li {
          padding: 10px 0;
          a {
            color: $dark-gray;
            transition: .2s ease all;
            &:hover {
              color: $green;
            }
          }
        }
      }
    }
  }
  .copyrights {
    border-top: 1px solid $lighter-gray;
    margin: 15px 0;
    padding: 15px 0;
    text-align: center;
    p {
      font-size: 1.4rem;
    }
  }
}