@import '../colors';

.header {
  width: 100%;
  .nav {
    z-index: 999;
    width: 100%;
    position: fixed;

    .auth {
      width: 100%;
      height: 40px;
      background-color: $lighter-gray;

      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        list-style: none;
        padding: 0 30px 0 0;
        div {
          display: flex;
          align-items: center;
          li {
            p {
              font-size: 1.4rem;
              span {
                font-weight: bold;
                font-size: 1.4rem;
                color: $blue;
              }
            }

            svg {
              font-size: 2rem;
              color: $blue;
              margin: auto;
              transition: .3s ease all;

              &:hover {
                transform: rotate(90deg);
                cursor: pointer;
              }
            }
          }
        }
        li {
          padding: 0 7px;
          a {
            display: block;
            color: $dark-blue;
            font-size: 1.5rem;
            &:hover {
              color: $blue;
            }
          }
        }
      }
    }

    .menu {
      width: 100%;
      background-color: white;

      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      height: 60px;

      h1 {
        a {
          font-size: 3.5rem;
          color: $blue;
        }
      }
      ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        li {
          padding: 0 10px;
          a {
            font-size: 2rem;
            color: $dark-gray;
            &:hover {
              color: $gray;
            }
          }
        }
      }
      form {
        div {
          display: flex;
          flex-direction: row;
          align-items: center;
          border: 1px solid black;
          border-radius: 25px;
          height: 35px;
          width: 200px;
          input {
            border: none;
            &:focus {
              outline: none;
            }
          }
          svg {
            font-size: 1.5rem;
            margin: 0 10px;
          }
        }
      }
      .cart {
        a {
          padding: 0 10px;
          &:hover {
            svg {
              color: $dark-gray;
            }
          }
          svg {
            font-size: 2rem;
            color: black;
          }
        }
      }
    }
    .slider {
      width: 100%;
      height: 50px;
      background-color: $lighter-gray;

      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      p {
        font-size: 1.6rem;
        font-weight: bold;
      }
    }
  }
  .fixer {
    width: 100%;
    height: 150px;
    background-color: red;
  }
}
