@import '../palette';

div.container {
  width: 90%;
  margin: 60px auto;
  position: relative;

  .heading {
    display: flex;
    justify-content: space-between;

    h3 {
      font-weight: bold;
      font-size: 1.5rem;
      color: $dark-gray;
    }

    a {
      display: flex;
      align-items: center;

      color: $green;
      font-size: 1.5rem;

      svg {
        margin-left: 10px;
      }
    }
  }

  .slider {
    margin: 30px 0;
    width: 100%;
    border: 1px solid $lighter-gray;
    padding: 20px 0;
    border-radius: 5px;

    .item {
      display: flex;
      align-items: center;
      justify-content: center;

      .thumbnail {
        width: 50%;
        img {
          width: 100%;
          min-height: 400px;
          max-height: 400px;
          border-radius: 5px;
        }

        padding: 0 50px;
        border-right: 1px solid $lighter-gray;
      }

      .data {
        width: 50%;
        margin-left: 50px;

        p.name {
          display: flex;
          align-items: center;

          svg {
            margin-left: 20px;
            color: $white;
            background-color: $green;
            font-size: 3rem;
            padding: 2px 0;
            border-radius: 5px;
          }

          span {
            font-weight: bold;
            font-size: 2rem;
          }
        }

        p.price {
          font-weight: lighter;
          font-size: 1.8rem;
        }

        p.size, p.state, p.created_at {
          font-size: 1.6rem;
          span {
            font-weight: bold;
            font-size: 1.6rem;
          }
        }
      }
    }
  }

  .buttons {
    button {
      position: absolute;
      top: 50%;

      display: flex;
      border: none;
      background-color: transparent;

      svg {
        font-size: 3rem;
        margin: 0 10px;
        transition: .2s ease all;
        &:hover {
          transform: scale(1.1);
          cursor: pointer;
        }
      }

      &:last-child {
        right: 0;
      }
    }
  }
}
